# --- CORE VISIÓN Y DEEP LEARNING ---
ultralytics==8.4.14
opencv_python==4.13.0.92

# --- TRACKING MULTI-OBJETO ---
boxmot==17.0.0

# --- MANEJO DE DATOS Y MÉTRICAS ---
numpy==2.4.4
pandas==3.0.2
motmetrics==1.4.0

# --- INTERFAZ WEB ---
streamlit==1.55.0


# IMPORTANTE: PyTorch se instala por separado según el hardware (Ver README.md)